.social {
  display: flex;
  justify-content: space-around;
  background-color: #f5f5f5;
  padding: 30px 0;
  margin-top: 50px;
}

.btn-whatsapp {
  padding: 2px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

