<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<section class="social">
  <div class="btn-group">
    <a
      href="https://api.whatsapp.com/send?phone=5551234567"
      target="_blank"
      rel="noopener noreferrer"
      class="btn btn-whatsapp"
    >
      <img
        src="../../../assets/icons/whatsapp.png"
        alt="Whatsapp"
        class="btn-icon"
      />
      <span class="btn-text">Whatsapp</span>
    </a>
    <a href="tel:3016579423" class="btn btn-telefono">
      <img
        src="../../../assets/icons/telefono.png"
        alt="Telefono"
        class="btn-icon"
      />
      <span class="btn-text">Llamanos</span>
    </a>
    <a
      href="https://www.instagram.com/"
      target="_blank"
      rel="noopener noreferrer"
      class="btn btn-instagram"
    >
      <img
        src="../../../assets/icons/instagram.png"
        alt="Instagram"
        class="btn-icon"
      />
      <span class="btn-text">Instagram</span>
    </a>
  </div>
</section>
