<nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
  <div class="container-fluid fondo">
    <a class="navbar-brand" href="#"
      ><img class="icono" src="../../../assets/img/Logo.jpg" alt="Bootstrap"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fs-4 fw-medium" aria-current="page" href="#"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active fs-4 fw-medium" href="#">Nosotros</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link active dropdown-toggle fs-4 fw-medium"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Servicios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Destape De Cañeria</a></li>
            <li>
              <a class="dropdown-item" href="#"
                >Servicios De Geofonia Digital</a
              >
            </li>
            <li><a class="dropdown-item" href="#">Destape De Sanitarios</a></li>
            <li>
              <a class="dropdown-item" href="#"
                >Instalacion y Mantenimiento De Redes En Propileno</a
              >
            </li>
            <li><a class="dropdown-item" href="#">Servicio De Vactor</a></li>
            <li>
              <a class="dropdown-item" href="#"
                >Servicio De Camara Para Inspeccion De Tuberias</a
              >
            </li>

            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Plomeria En General</a></li>
            <li><a class="dropdown-item" href="#">Arreglos Diferentes</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex m-1" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Buscar"
          aria-label="Search"
        />
        <button class="btn btn-dark" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
